<header>
    <div style=" font-style: oblique;font-weight: bold;" ><a  href="/">
        <br/>
        <br/>
        <img src="assets/images/HPC45Years.png" alt="Hamburg Port Consulting" style="
        width: 300px;
        margin-left: 207px;">
    </a>  Hamburg Port Consulting</div>
  
</header>

<br/>
<div class="haupslider">
    <img src="assets/images/headerImage.jpg" style="display: block;
    margin-left: auto;
    margin-right: auto;
   "/>
</div>
 



<div class="p-4">
    <div class="container">
        <div class="col-md-12 col-sm-12 leading-0" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting"><div class="page-header "><h3 itemprop="name"> 
            Profile </h3></div>
            <p><strong>HPC Hamburg Port Consulting is an internationally renowned consulting firm with long-standing experience in the global port, transport, and logistics sector. Ever since HPC has been providing leading-edge professional expertise with a clear operations/owner’s perspective.</strong>
            </p>
            <p>In&nbsp;45 years of excellence, we have delivered approx. 1,700 projects across 130 countries along the full project development cycle making us inimitably knowledgeable with regard to ports, intermodal terminals and airports.</p></div>
        <p><a routerLink="/ships" style=" font-style: oblique;font-weight: bolder;">&gt;&gt; Manage Ships</a></p>
    </div>
</div>

